.sidebar{

width:270px;

height:100vh;

background:#fff;

border-right:1px solid var(--border);

display:flex;

flex-direction:column;

justify-content:space-between;

padding:24px;

position:sticky;

top:0;

}

.sidebar-logo{

display:flex;

gap:14px;

align-items:center;

margin-bottom:40px;

}

.logo-box{

width:52px;

height:52px;

border-radius:16px;

background:var(--primary);

display:flex;

align-items:center;

justify-content:center;

color:#fff;

}

.sidebar-logo h2{

font-size:22px;

font-weight:700;

}

.sidebar-logo span{

font-size:13px;

color:var(--text-light);

}

.sidebar-nav{

display:flex;

flex-direction:column;

gap:8px;

}

.nav-item{

display:flex;

align-items:center;

gap:14px;

padding:14px 16px;

border-radius:14px;

transition:.25s;

font-weight:500;

color:var(--text-light);

}

.nav-item:hover{

background:#eff6ff;

color:var(--primary);

}

.nav-item.active{

background:var(--primary);

color:#fff;

box-shadow:0 10px 25px rgba(37,99,235,.25);

}

.sidebar-user{

display:flex;

gap:12px;

align-items:center;

padding-top:18px;

border-top:1px solid var(--border);

}

.avatar{

width:48px;

height:48px;

border-radius:50%;

background:var(--primary);

display:flex;

align-items:center;

justify-content:center;

color:#fff;

font-weight:700;

}

.sidebar-user p{

font-size:13px;

color:var(--text-light);

margin-top:4px;

}