.delete-overlay{

position:fixed;

inset:0;

background:rgba(0,0,0,.5);

display:flex;

justify-content:center;

align-items:center;

z-index:999;

}

.delete-box{

background:white;

padding:35px;

width:420px;

border-radius:20px;

text-align:center;

}

.buttons{

display:flex;

justify-content:flex-end;

gap:15px;

margin-top:25px;

}

.cancel{

background:#eee;

padding:12px 20px;

border:none;

border-radius:10px;

}

.delete{

background:#dc2626;

color:white;

padding:12px 20px;

border:none;

border-radius:10px;

}